@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  color: #212529;
  line-height: 1.5;
}
.hamburger-icon {
  display: none;
  color: rgba(0, 0, 0, 0.5);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
.hover-effect:hover{
  filter: brightness(1.2);
}
.btn {
  transition: all 1s;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(255, 126, 95, 0.15) 0px 12px 20px 0px;
  z-index: 5;
}
.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #ffc107;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out 0s;
  z-index: -1;
}
.btn:hover::before {
  transform: translateX(0);
  opacity: 0.2;
}
.height {
  height: 2px;
}
img {
  max-width: 100%;
}
.icon {
  transition: all 0.6s;
}
.card:hover .icon {
  background-image: linear-gradient(to right, #fd7e14, #ffc107);
  color: #fff;
}
@media (min-width: 992px) {
  body {
    background-image: url("/public/assets/xbanner.png");
    background-repeat: no-repeat;
    background-size: 68%;
    background-position: top right;
  }
  .about {
    margin-top: 150px;
  }
  .about h1 {
    width: 600px;
    font-family: "Poppins", sans-serif;
  }
  
  .paragraph {
    width: 300px;
  }
  .div {
    position: relative;
    right: 90px;
    top: 90px;
  }
  .deco-image {
    height: 100%;
    transform: scale(1);
  }
  /* .blog {
    position: relative;
  }
  .blog-items {
    visibility: hidden;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 140px;
    height: 0;
    position: absolute;
    top: 25px;
  }
  .blog:hover > .blog-items {
    visibility: visible;
    height: 90px;
  } */
}
@media (max-width: 991px) {
  .hamburger-icon {
    display: block;
    font-size: 25px;
    position: relative;
    left: 60px;
  }
  nav ul {
    position: absolute;
    background-color: #fff;
    top: 75px;
    left: 0;
    transition: all 0.5s;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .background {
    background-color: #f7f7f7;
  }
  .cta {
    display: none;
  }
  #check:checked ~ nav ul {
    max-height: 400px;
  }
  .about {
    text-align: center;
    margin: auto;
  }
  .deco-image {
    width: 50%;
    height: auto;
    text-align: center;
    padding: 50px 0;
  }
  .div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .blog-items {
    visibility: hidden;
    position: static;
    width: 140px;
  }
  .blog:hover > .blog-items {
    visibility: visible;
  } */
}
@media (min-width: 768px) {
  .about-us,
  .advance-section {
    grid-template-columns: repeat(4, 1fr);
  }
  .about-us div,
  .advance-section div {
    grid-column: span 2;
  }
}
@media (max-width: 500px) {
  .feature {
    display: grid;
  }
}
@media (max-width: 300px) {
    .hamburger-icon{
        left: 38px;
    }
}
