@tailwind base;

@tailwind components;

@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;
}
.hamburger-icon{
    display: none;
    color: rgba(0, 0, 0, 0.589);
}
.header{
    justify-content: space-between;
}
@media (max-width:900px) {
    .hamburger-icon{
        display: block;
        font-size: 25px;
        position: fixed;
        right: 20px;
    }
    nav ul{
        position: absolute;
        background-color: #f7f7f7;
        top: 70px;
        left: 0;
        transition: all .5s;
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
      }
      .cta{
          display: none;
      }
      #check:checked ~ nav ul{
        max-height: 400px;
    }
}

/* nav {
    position: absolute;
    background-color: #0d1137;
    top:80px;
    left:0;
    width: 100%;
    }
    nav ul{
    max-height: 0;
    overflow: hidden;
    }
    #checkbox:checked ~ nav ul {
    max-height: 300px;
    padding: 15px 0;
    transition: all 0.5s;
    width: 50%;
    }
    #checkbox:checked ~ nav ul {
    max-height: 300px;
    padding: 15px 0;
    transition: all 0.5s;
    width: 50%;
    }
    nav{
    position: relative;
    top:-70px;
    background-color: transparent;
}
    */