@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  color: #212529;
  line-height: 1.5;
}
.hamburger-icon {
  display: none;
  color: rgba(0, 0, 0, 0.5);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
.app-header {
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px;
  top: 0px;
  z-index: 9999 !important;
  animation: fadeIn 1s ease;
}
@keyframes fadeIn {
  from {transform: translateY(-100%);}
  to{transform: translateY(0);}
}
.btn {
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(255, 126, 95, 0.15) 0px 12px 20px 0px;
  z-index: 5;
}
.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #ffc107;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out 0s;
  z-index: -1;
}
.btn:hover::before {
  transform: translateX(0);
  opacity: 0.2;
}
.height {
  height: 2px;
}
img {
  max-width: 100%;
}
.email::placeholder {
  font-size: 12px;
  color: #888;
}
.email{
  width: 100%;
}
.send-btn{
  position: absolute;
  top: 5px;
  right: 45px;
}
.cards {
  padding-left: 7%;
  padding-right: 7%;
}
.span{
  font-size: 16px;
  font-style: normal;
}
/* .testimonial-section{
  width: 1200px;
  overflow-x: scroll;
} */
@media (min-width: 992px) {
  body {
    background-image: url("/public/assets/xbanner.png");
    background-repeat: no-repeat;
    background-size: 68%;
    background-position: top right;
  }
  .about {
    margin-top: 150px;
  }
  .course {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .about h1 {
    width: 600px;
    font-family: "Poppins", sans-serif;
  }
  .courses {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .div {
    position: relative;
    right: 90px;
    top: 90px;
  }
  .deco-image {
    height: 100%;
    transform: scale(1);
  }
  .blog {
    position: relative;
  }
  .blog-items {
    transition: all 0.5s ease 0s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 40px;
    visibility: hidden;
    overflow: hidden;
    height: 0;
  }
  .blog:hover .blog-items {
    height: 90px;
    visibility: visible;
  }
  .feature p {
    width: 300px;
  }
  .paragraph {
    width: 400px;
  }
  .about-img {
    transform: scale(1.1);
  }
  .advance-paragraph {
    width: 450px;
  }
  .statistic {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-section {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991px) {
  .hamburger-icon {
    display: block;
    font-size: 25px;
    position: relative;
    left: 60px;
  }
  nav ul {
    position: absolute;
    background-color: #fff;
    top: 75px;
    left: 0;
    transition: all 0.5s;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .background {
    background-color: #f7f7f7;
  }
  .cta {
    display: none;
  }
  #check:checked ~ nav ul {
    height: 600px;
  }
  .about {
    text-align: center;
    margin: auto;
  }
  .deco-image {
    width: 50%;
    height: auto;
    text-align: center;
    padding: 50px 0;
  }
  .div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-items {
    display: none;
    position: absolute;
    top: 20px;
  }
  .blog {
    position: relative;
  }
  .blog:hover .blog-items {
    display: block;
  }
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .course {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .about-us,
  .advance-section {
    grid-template-columns: repeat(4, 1fr);
  }
  .about-us div,
  .advance-section div {
    grid-column: span 2;
  }
  .courses {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (max-width: 767px) {
  .courses {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .footer-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards {
  padding-left: 5%;
  padding-right: 5%;
}
}
@media (min-width: 501px) and (max-width: 991px) {
  .about-us {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .statistic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .features {
    grid-template-columns: 1fr;
  }
  .about-us {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 600px) {
  .course {
    display: grid;
    grid-template-columns: 1fr;
  }
  .courses {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .footer-section {
    grid-template-columns: 1fr;
  }
}
